<footer class="mt-5 text-center text-white bg-dark">

    <div class="container pt-4">
   
    <section class="mb-4">
      
        <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
        ><i class="foot fa fa-facebook"></i></a>
    
        <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
        ><i class="foot fa fa-instagram"></i></a>
    
        <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
        ><i class="foot fa fa-youtube-play"></i
      ></a>
      <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
      ><i class="foot fa fa-google"></i
    ></a>
    
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
    </div>
    <!-- Copyright -->
  </footer>