
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <div class="col-12 col-lg-2">
        <img class="logo ms-5" src="../../assets/logoRe.png">
      </div>
      <button class="ms-5 navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-solid fa-bars"></i>
      </button>
   
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="col-12 col-lg-8">
          <ul class="nav  ms-4 align-items-center d-flex mt-3">
              <li class="nav-item">
                <a class="nav-link btn text-white text-uppercase ms-2 me-3" href="#evente">Evente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn text-white text-uppercase ms-2 me-3" href="#seshpejti">se shpejti</a>
              </li>
            </ul>
      </div>
      <p class="mt-4 text-muted me-2">Na ndiqni në:</p>
        <div class="navbar-nav">
          <ul class="nav mt-3">
            <li class="nav-item">
              <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
                ><i class="fa fa-youtube-play"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="cool-link btn text-white shadow-none" href="https://www.facebook.com/JohnnyDepp" target="_blank"
                ><i class="fa fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>