<div class="container-fluid position-relative">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-12">

      <swiper [spaceBetween]="30" [effect]="'fade'" [navigation]="true" [pagination]="{
        clickable: true 
      }" showsPagination={false} class="mySwiper mb-4  position-relative" (slideChange)="onSlideChange($event)">
        <ng-template swiperSlide>
          <img src="../assets/carusel10.jpg" class="img-fluid" />

          <div class="animationText">
            <span class="btn-custom"> Mirëserdhët në</span>
            <span class="btn-custom"> Sinfoart</span>
          </div>

        </ng-template><ng-template swiperSlide><img src="../assets/carusel12.jpg" class="img-fluid" />
          <div class="animationText">
            <span class="btn-custom"> Tinguj të njohur</span>
            <span class="btn-custom"> Kinemaje</span>
          </div>
        </ng-template><ng-template swiperSlide><img src="../assets/carusel3.jpg" class="img-fluid" />
          <div class="animationText">
            <span class="btn-custom"> Festojmë</span>
            <span class="btn-custom"> së bashku</span>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

</div>


<!--biografi-->
<div class="container mb-5">
  <div class="row mt-5 align-items-center h-50 d-flex">
    <div class="col-sm-12 col-lg-6 mt-5 mb-5">
      <div class="foto1 position-relative">
        <img class="img-fluid" src="../assets/foto2.jpg" />

        <div class="katror1 ms-5">
        </div>
      </div>


    </div>

    <div class="col-12 col-lg-6">
      <div class="krijimtaria mt-5">
        <h1 class="text-white ms-5 mb-5 fw-bold fs-1 position-relative">Krijimtaria
          <div class="katror2 me-4"></div>
        </h1>

      </div>


      <h5 class="text-white mb-4">
        Shoqata SinfoArt është themeluar, si një bashkëpunim artistik muzikantësh.
      </h5>

      <h6 class="text-white mb-3">
        Ajo do të ndihmojë në krijimin e një infrastrukture të re juridike,
        e cila do ti hape impulse të reja zhvillimit të artit dhe kulturës në vend.
      </h6>

      <div class="d-flex">
        <h2 class="sinfoText p-2 w-100">Sinfoart Albania</h2>
        <h2 class="signature p-2 flex-shrink-1">Sinfoart</h2>
      </div>
    </div>
  </div>
</div>


<!--fjala evente-->
<div id="evente" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5 col-lg-2 col-md-3 mt-5">
      <h1 class="evente text-white position-relative">Evente
        <div class="katror3"></div>
      </h1>
    </div>

  </div>
</div>

<!-- <div class="container mb-5"> 
    <div class="row">
      <div class="col-12">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [pagination]="{
            clickable: true
          }"
          showsPagination={false}
          class="mySwiper2 mt-5 mb-5 "
        >
          <ng-template swiperSlide>
            <div class="slide position-relative">
              <img src="../assets/foto1.jpg" />
              <div class="kutiSlide text-white text-center">
                <h2 class="titull mt-4">Tinguj Kinemaje 2022</h2>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-5">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore!
                </h6>
                <button [routerLink]="['/event-page']" routerLinkActive="active" class="btn-2 btn justify-content-center"
                  >Lexo me shume</button>
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative">
              <img src="../assets/foto2.jpg" />
              <div class="kutiSlide text-white text-center">
                <h2 class="titull mt-4">Tinguj Kinemaje 2022</h2>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-5">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <button [routerLink]="['/event-page']" routerLinkActive="active" class="btn-2 btn justify-content-center"
                  >Lexo me shume</button>
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative">
              <img src="../assets/foto4.jpg" />
              <div class="kutiSlide text-white text-center">
                <h2 class="titull mt-4">Tinguj Kinemaje 2022</h2>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-5">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <button [routerLink]="['/event-page']" routerLinkActive="active" class="btn-2 btn justify-content-center"
                >Lexo me shume</button>
                
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative">
              <img src="../assets/foto1.jpg" />
              <div class="kutiSlide text-white text-center">
                <h2 class="titull mt-4">Tinguj Kinemaje 2022</h2>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-5">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <button [routerLink]="['/event-page']" routerLinkActive="active" class="btn-2 btn justify-content-center"
                >Lexo me shume</button>
              </div>
            </div></ng-template
          ><ng-template swiperSlide>Slide 5</ng-template
          ><ng-template swiperSlide>Slide 6</ng-template
          ><ng-template swiperSlide>Slide 7</ng-template
          ><ng-template swiperSlide>Slide 8</ng-template
          ><ng-template swiperSlide>Slide 9</ng-template>
        </swiper>
      </div>
    </div>
  </div> -->

<app-event-post></app-event-post>

<!--video-->
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="youtubeVideo  position-relative">
      <iframe src="https://www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

</div>



<!--se shpejti-->
<div id="seshpejti" class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-7 col-lg-2 col-md-4 mt-5">
      <h1 class="seShpejti text-white position-relative">Se shpejti
        <div class="katror4"></div>
      </h1>
    </div>

  </div>
</div>


<app-future-event></app-future-event>

<!-- <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [pagination]="{
            clickable: true
          }"
          showsPagination={false}
          class="mySwiper3 mt-5 mb-5 h-100"
        >
       
          <ng-template swiperSlide>
            <div class="slide position-relative h-100">
              <img src="../assets/carusel7.jpg" />
              <div class="latestSlide position-relative text-white text-center">
                <div class="d-flex">
                  <p class="data text-white text-start mt-4 ms-5 fw-light w-100">
                    17 QER 2022
                  </p>
                  <p class="kategoria text-end mt-4 me-5 flex-shrink-1">Muzik</p>
                </div>
  
                <h3 class="titull mt-2">Tinguj Kinemaje 2022</h3>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description text-center mb-3">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore!
                </h6>
                <a href="#" class="btn-3 btn justify-content-center"
                  >Lexo me shume</a
                >
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative h-100">
              <img src="../assets/carusel8.jpg" />
              <div class="latestSlide text-white text-center">
                <div class="d-flex">
                  <p class="data text-white text-start mt-4 ms-5 fw-light w-100">
                    17 QER 2022
                  </p>
                  <p class="kategoria text-end mt-4 me-5 flex-shrink-1">Muzik</p>
                </div>
  
                <h3 class="titull mt-2">Tinguj Kinemaje 2022</h3>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-4">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <a href="#" class="btn-3 btn justify-content-center"
                  >Lexo me shume</a
                >
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative h-100">
              <img src="../assets/carusel4.jpg" />
              <div class="latestSlide position-relative text-white text-center">
                <div class="d-flex">
                  <p class="data text-white text-start mt-4 ms-5 fw-light w-100">
                    17 QER 2022
                  </p>
                  <p class="kategoria text-end mt-4 me-5 flex-shrink-1">Muzik</p>
                </div>
  
                <h3 class="titull mt-2">Tinguj Kinemaje 2022</h3>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-4">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <a href="#" class="btn-3 btn justify-content-center"
                  >Lexo me shume</a
                >
              </div>
            </div></ng-template
          ><ng-template swiperSlide>
            <div class="slide position-relative h-100">
              <img src="../assets/carusel6.jpg" />
              <div class="latestSlide text-white text-center">
                <div class="d-flex">
                  <p class="data text-white text-start mt-4 ms-5 fw-light w-100">
                    17 QER 2022
                  </p>
                  <p class="kategoria text-end mt-4 me-5 flex-shrink-1">Muzik</p>
                </div>
  
                <h3 class="titull mt-2">Tinguj Kinemaje 2022</h3>
                <h6 class="subject mb-4">Nje festival me tinguj kinemaje</h6>
                <h6 class="description mb-4">
                  Disa nga kolonat zanore më të bukura të historisë së
                  kinematografisë shqiptare dhe botërore
                </h6>
                <a href="#" class="btn-3 btn justify-content-center"
                  >Lexo me shume</a
                >
              </div>
            </div></ng-template
          ><ng-template swiperSlide>Slide 5</ng-template
          ><ng-template swiperSlide>Slide 6</ng-template
          ><ng-template swiperSlide>Slide 7</ng-template
          ><ng-template swiperSlide>Slide 8</ng-template
          ><ng-template swiperSlide>Slide 9</ng-template>
        </swiper>
      </div>
    </div>
  </div> -->