  
@import "~swiper/css";
@import "~swiper/css/effect-fade";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter&family=Mali:wght@300;400&family=Open+Sans:wght@600&family=Poppins:wght@200&family=Raleway&family=Roboto:wght@300&family=Source+Sans+Pro:wght@600;700&display=swap');


.mySwiper .swiper {
  max-width: 100%;
  height: calc(100vh - 72px);
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  
}
.mySwiper .swiper-button-prev{
  color: #fff;
}

.mySwiper .swiper-button-next{
  color: #fff;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #000 !important;
border:2px solid white;
}



.katror1 {
  border-radius: 6px !important;
  border: 3px solid #7e2515 !important;
  // padding: 20px;
  width: 450px;
  height: 550px;
  position: absolute;
  top: -36px !important;
  left: -10 !important;
  z-index: -1;
}

.foto1 img{
  height: 550px;
  width: 450px;
  z-index: 2;
}

// .krijimtaria{
//   background: #7e2515;
//   background-size: auto;
  
// }

.katror2{
  background-color: #7e2515;
  width: 240px;
  height: 2.5px;
  border-radius: 1px;
  top: 29px !important;
  left: -24px;
  position:absolute;
  z-index: -1;
}

.katror3{
  background-color: #7e2515;
  width: 220px;
  height: 3.5px;
  border-radius: 1px;
  top: 28px !important;
  left: -44px;
  position:absolute;
  z-index: -1;
}

.katror4{
  background-color: #7e2515;
  width: 246px;
  height: 3.5px;
  border-radius: 1px;
  top: 28px !important;
  left: -30px;
  position:absolute;
  z-index: -1;
}

.sinfoText{
  color: #7e2515;
  font-family: 'Raleway', sans-serif;
}

.signature{
  color: white;
  font-family: 'Cookie', cursive;
}

.evente{
  font-size: 50px;
}

.seShpejti{
  
    font-size: 46px;

}


.btn-2:hover{
  box-shadow: inset 180px 0 0 0 black;
  color: white;
}

.mySwiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  height: 500px;
}

.mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
 height: 50%;
  object-fit: cover;
}

.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.mySwiper3 .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.latestSlide{
    background-color: 	rgba(41,41,41,255);
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
    transition: ease-out 0.5s;
    overflow:visible;
  }


  .btn-3{
    width: 180px;
    height: 50px;
    border: none;
    color: black;
    background-color: #dd4377;
    transition: ease-out 0.2s;
    box-shadow: inset 0 0 0 0 black;
    font-size: 1.3rem;
    outline: none;
    
    // position:absolute;
    // bottom:-25px;
    // right: 550px;
    z-index: 9;
   
  }

  .btn-3:hover{
    // box-shadow: inset 180px 0 0 0 black;
    color: white;
  }

  .data{
    font-size: 13px;
  }

  .kategoria{
    font-size: 17px;
    transition: ease-out 0.2s;
    color: #dd4377;
  }

  .kategoria:hover{
    color: white;
  }


  .overlay {
    position: absolute;
    bottom: 30px;
    right: 383px;
    background-color: transparent;
    color: white;
    text-align: center;
    color: white;
    padding: 6px;
    border: 4px solid white;
    width: 700px;
  }
  
  .overTitull{
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
  }

    
  .overTitull2{
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
.youtubeVideo{
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtubeVideo iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animationText{
  position: absolute;
  text-align: center;
 top: 80%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}

.animationText span{
text-transform: uppercase;
display: block;
}

.texta{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation:text 2s 1;
}

.textb{
  font-size: 30px;
  color:white;
  animation:textz 2s 1;
}

@keyframes text {
  0%{
  
    margin-bottom: -45px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -45px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -45px;
  }
}

@keyframes textz {
  0%{
    color: transparent;
  }
  
  85%{
    color:transparent;
  }
}

@media only screen and (min-width: 280px) {

  .mySwiper .swiper-pagination-bullet-active {
    width: 2px;
    height: 2px;
    background-color: #000 !important;
  border:1px solid white;
  }

  .texta{ 
    font-size: 8px;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 15px;
  }
  
  .textb{
    font-size: 4px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -8px;
    }
    30%{
      letter-spacing: 3px;
      margin-bottom: -8px;
    }
    85%{
      letter-spacing: 6px;
      margin-bottom: -8px;
    }
  }
}

@media only screen and (min-width: 320px) {

  .mySwiper .swiper-pagination-bullet-active {
    width: 2px;
    height: 2px;
    background-color: #000 !important;
  border:1px solid white;
  }

  .texta{ 
    font-size: 8px;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 15px;
  }
  
  .textb{
    font-size: 4px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -8px;
    }
    30%{
      letter-spacing: 3px;
      margin-bottom: -8px;
    }
    85%{
      letter-spacing: 6px;
      margin-bottom: -8px;
    }
  }
}

@media only screen and (min-width: 375px) {

  .mySwiper .swiper-pagination-bullet-active {
    width: 2px;
    height: 2px;
    background-color: #000 !important;
  border:1px solid white;
  }

  .texta{ 
    font-size: 8px;
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }
  
  .textb{
    font-size: 4px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -10px;
    }
    30%{
      letter-spacing: 3px;
      margin-bottom: -10px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -10px;
    }
  }
}

@media only screen and (min-width: 425px) {
 
  .mySwiper .swiper-pagination-bullet-active {
    width: 5px;
    height: 5px;
    background-color: #000 !important;
  border:1px solid white;
  }

  .texta{ 
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }
  
  .textb{
    font-size: 5px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -10px;
    }
    30%{
      letter-spacing: 3px;
      margin-bottom: -10px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -10px;
    }
  }
}

@media only screen and (min-width: 768px) {

  .mySwiper .swiper-pagination-bullet-active {
    width: 7px;
    height: 7px;
    background-color: #000 !important;
  border:1px solid white;
  }

  .texta{ 
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }
  
  .textb{
    font-size: 15px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -35px;
    }
    30%{
      letter-spacing: 15px;
      margin-bottom: -35px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -35px;
    }
  }
}

@media only screen and (min-width: 1024px) {

  
  .mySwiper .swiper-pagination-bullet-active {
    width: 11px;
    height: 11px;
    background-color: #000 !important;
  border:2px solid white;
  }

  .texta{ 
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 7px;
    margin-bottom: 20px;
  }
  
  .textb{
    font-size: 20px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -45px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -45px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -45px;
    }
  }
}

@media only screen and (min-width: 2560px) {

  .texta{ 
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 7px;
    margin-bottom: 20px;
  }
  
  .textb{
    font-size: 30px;
  }

  @keyframes text {
    0%{
    
      margin-bottom: -45px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -45px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -45px;
    }
  }
}

