/* You can add global styles to this file, and also import other style files */

body {
  /*width: 100px;*/

  background: url("./assets/blackBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (min-width: 280px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

  .evente{
    font-size: 41px !important;
  }

  .seShpejti{
    font-size: 33px !important;
  }
}

@media only screen and (min-width: 360px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

 
  .seShpejti{
    font-size: 43px !important;
  }
}

/* Extra small devices (phones, 391px and down) */

@media only screen and (min-width: 375px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

  .seShpejti{
    font-size: 46px !important;
  }
}

@media only screen and (min-width: 390px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

  .seShpejti{
    font-size: 46px !important;
  }
}

@media only screen and (min-width: 412px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }
  .seShpejti{
    font-size: 46px !important;
  }
}

@media only screen and (min-width: 414px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

  .seShpejti{
    font-size: 46px !important;
  }
}


@media only screen and (min-width: 540px) {

  .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important;
  }

  .seShpejti{
    font-size: 46px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .katror1 {
   
    border: 6px solid transparent !important;
    width: 0px !important;
    height: 0px !important; 
  }

  .seShpejti{
    font-size: 46px !important;
  }

}
@media only screen and (min-width: 720px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
  
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 480px !important;
    left: -20px !important;
   
  }

  .seShpejti{
    font-size: 46px !important;
  }

}

@media only screen and (min-width: 740px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
  
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 500px !important;
    left: -20px !important;
   
  }

  .seShpejti{
    font-size: 46px !important;
  }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
  
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 520px !important;
    left: -40px !important;
   
  }

  .seShpejti{
    font-size: 46px !important;
  }

}

/* Medium devices (landscape tablets, 820px and up) */
@media only screen and (min-width: 820px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
  
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 520px !important;
    left: -30px !important;
   
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .seShpejti{
    font-size: 46px !important;
  }

}

@media only screen and (min-width: 896px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 570px !important;
    left: 10px !important;
   
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .seShpejti{
    font-size: 46px !important;
  }

}


@media only screen and (min-width: 912px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 570px !important;
    left: 10px !important;
   
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .seShpejti{
    font-size: 46px !important;
  }

}

@media only screen and (min-width: 914px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 570px !important;
    left: 10px !important;
   
  }
  
  .kutiSlide .button{
    padding-top: -80px;
  }

  .seShpejti{
    font-size: 46px !important;
  }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mySwiper2 .swiper-slide {
    height: 590px;
  }

  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 870px !important;
    left: 30px !important;
  }

  .seShpejti{
    font-size: 46px !important;
  }
 
}

/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 628px  !important;
    left: -35px !important;
  }

  .text

  .seShpejti{
    font-size: 32px !important;
  }

}

@media only screen and (min-width: 1180px) {
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 700px !important;
    left: 0px !important;  
  }

  .seShpejti{
    font-size: 30px !important;
  }

}

@media only screen and (min-width: 1280px) {
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 750px !important;
    left: -10px !important;  
  }

  .seShpejti{
    font-size: 38px !important;
  }

}

@media only screen and (min-width: 1368px) {
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 750px !important;
    left: -10px !important;  
  }

  .seShpejti{
    font-size: 38px !important;
  }

}


@media only screen and (min-width: 1440px) {
  .katror1 {
    border-radius: 10px !important;
    border: 6px solid #7e2515 !important;
    width: 450px !important;
    height: 550px !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 832px !important;
    left: -10px !important;  
  }

  .seShpejti{
    font-size: 46px !important;
  }

}
